//extends  ../../layout
//block style
  link(rel="stylesheet", href="/movie/index.css")
//block content
  .container
    .row
      .col-md-7
        embed(src="#{movie.flash}", allowFullScreen="true", quality="high",
          width="720", height="600", align="middle", type="application/x-shockwave-flash")
      .col-md-5
        dl.dl-horizontal
          dt 电影名字
          dd= movie.title
          dt 导演
          dd= movie.doctor
          dt 国家
          dd= movie.country
          dt 语言
          dd= movie.language
          dt 年份
          dd= movie.year
          dt 简介
          dd= movie.summary
    .row
      .comment-container
        input(id="movieID", type="hidden", value="#{movie._id}")
        .comment-title 评论内容
        .comment-body
          .comment-list
            if comments && comments.length > 0
              each comment in comments
                .comment-list-item
                  .item-user
                    img.icon
                    span.user #{comment.from.name}
                    small
                      i &emsp;#{moment(comment.meta.createAt).format('YYYY-MM-DD HH:mm:ss')}
                  .item-content #{comment.content}
                    span &emsp;
                    a.replyComment(href="javascript:;" _id="#{comment.from._id}") 回复
            else
              i.tips 暂无评论！
          .comment-input-group
            textarea.form-control(id="commentContent",maxlength="1000", placeholder="输入评论，1000字以内")
            button#commitComment.btn.btn-success 评论
        .comment-footer
  script(src="/movie/bundle.js")
extends ../../layout
block script
  script(src="/movie/bundle.js")
